<div class="center-content branding-div">
    <div class="row">
        <div class="pull-left logo-holder">
            <a ng-click="refreshUser()" href="catalog">
                <img class="branding-logo" ng-src="{{user.Company.LogoUrl}}" />
            </a>
        </div>
        <!--<div class="logo-right-holder">
            <a ng-click="refreshUser()" href="catalog">
                <img class="branding-logo" src="//www.four51.com/Themes/Custom/a70b7294-03fc-4cd6-81ec-98478e3223e7/MedExpress/images/Employee%20Store_TEXT.png" />
            </a>
        </div>-->
    </div>
</div>